<div>
    <table>
        <thead>
        <th>ID_prenotazione</th>
        <th>Partenza</th>
        <th>Ritorno</th>
        <th>Prezzo</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Destinazione</th>
        </thead>

        <tbody>
            <td><input type="Text" name="titolo" size="20" value="{{booking.id}}" ></td>
            <td><input type="Text" name="titolo" size="20" [(ngModel)]="booking.startDate"  value="{{booking.startDate | date}}"></td>
            <td><input type="Text" name="titolo" size="20" value="{{booking.endDate | date}}"></td>
            <td><input type="Text" name="titolo" size="20" value="{{booking.price}}"></td>
            <td><input type="Text" name="titolo" size="20" value="{{booking.nameUser}}"></td>
            <td><input type="Text" name="titolo" size="20" value="{{booking.lastnameUser}}"></td>
            <td><input type="Text" name="titolo" size="20" value="{{booking.nameDestination}}"></td>
            <td><a href="javascript:void(0)" (click)="editBooking(booking.id)">MODIFICA</a></td>
            <td><a href="javascript:void(0)" (click)="editBooking(booking.id)">CANCELLA</a></td>
        </tbody>
    </table>
    <a href="javascript:void(0)" [routerLink]="['/dashboard']">Indietro</a>
</div>
