
<div style="background-image: url(../../assets/img/login.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; height: 790px;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <form #f="ngForm">
<div class="form-group">
    <section id="content">
        <form action="" #f="ngForm">
            <h1>Benvenuto!</h1>
            <div>
                <input type="text" placeholder="Username" name="username" id="username"
                       [(ngModel)]="user.username" required #username="ngModel"/>
            </div>
            <div>
                <input type="password" placeholder="Password" name="password" id="password"
                       [(ngModel)]="user.password" required #password="ngModel"/>
            </div>
            <div>
                <input [ngClass]="{'btn-save': f.valid, 'btn-save-disabled':!f.valid}"
                       (click)="login()"
                       [disabled]="!f.valid" type="submit" value="Log in" />
            </div>
        </form>

    </section>
</div>
</form>
</div>
