
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">città</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr style="background: white">
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.username"  value="{{user.username}}"></td>
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.email" value="{{user.email}}"></td>
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.name" value="{{user.name}}"></td>
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.lastname" value="{{user.lastname}}"></td>
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.address" value="{{user.address}}"></td>
        <td><input type="Text" name="titolo" size="20" [(ngModel)]="user.city" value="{{user.city}}"></td>
        <td><a href="javascript:void(0)" (click)="updateUser(user)">Modifica</a></td>
    </tr>

    </tbody>
</table>
