
<div>
    <table>
        <thead>
            <th>ID_prenotazione</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Destinazione</th>
        </thead>

        <tbody>
            <tr *ngFor="let b of bookingList">
                <td>{{b.id}}</td>
                <td>{{b.nameUser}}</td>
                <td>{{b.lastnameUser}}</td>
                <td>{{b.nameDestination}}</td>
                <!--<td><a href="#" *ngIf="adminMenu">Modifica</a></td>-->
                <td><a href="/dashboard" (click)="deleteBooking(b.id)">Elimina</a></td>
            </tr>
        </tbody>
    </table>
</div>


